@font-face {
    font-family: "MontserratAlternates";
    src: url("../fonts/MontserratAlternates-Medium.woff") format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "MontserratAlternates";
    src: url("../fonts/MontserratAlternates-SemiBold.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "MontserratAlternates";
    src: url("../fonts/MontserratAlternates-Bold.woff") format('woff');
    font-weight: 700;
}

@font-face {
    font-family: "MontserratAlternates";
    src: url("../fonts/MontserratAlternates-Regular.woff") format('woff');
}


body {
    font-family: 'MontserratAlternates';
}
