.badge {
    position: relative;
    & .value {
        @apply
            absolute
            inline-flex
            items-center
            justify-center
            w-6
            h-6
            -top-2
            -right-7
            text-white
            rounded-full
            bg-theme-red;
        font-size: 10px;
    }
}

.badge-table {
    @apply
        inline
        text-white
        text-xs
        font-medium
        mr-2
        px-3.5
        py-1.5
        rounded-full;

    &.new {
        @apply bg-theme-badge-blue;
    }
    &.hit {
        @apply bg-theme-red;
    }
}

.role-badge {
    font-size: 12px;
    border-radius: 25px;
    padding: 0 10px;
    font-weight: 500;
    @apply text-white bg-theme-green;
}
