@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed;
      top: 5px;
    }
    .scrollbar::-webkit-scrollbar-thumb {
      background: #000000;
      border-radius: 100vh;
      border: 3px solid #000000;
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
  }
