body {
    @apply bg-white dark:bg-primary-dark;
}

.content {
    & .page {
        padding: 40px;
        overflow: auto;
        width: calc(100% - 260px);
        height: calc(100vh - 67px);
        @apply bg-primary-color dark:bg-second-dark;
    }
}


.admin-header {
    border-bottom-width: 1px;
    @apply flex border-b-theme-blue dark:border-b-second-dark;
    padding-right: 20px;
    height: 67px;

    & .admin-menu {
        display: flex;
        padding-top: 5px;

        & .admin-menu-item {
            padding: 0 28px;
            padding-top: 20px;
            padding-bottom: 12px;
            /* font-weight: 500; */
            @apply dark:text-white;

            &.active {
                @apply bg-theme-blue text-white rounded-t-xl dark:bg-second-dark;
                position: relative;


                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    width: 19px;
                    height: 19px;
                    bottom: 0;
                    right: -19px;
                    transform: rotate(180deg);
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cpath d='M0.962986 0C15.3926 0 19 12.6667 19 19L19 0L0.962986 0Z' fill='%239900FF'/%3E%3C/svg%3E");
                }



                :is(.dark &) {
                    &::after,
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cpath d='M0.962986 0C15.3926 0 19 12.6667 19 19L19 0L0.962986 0Z' fill='%23152a3d'/%3E%3C/svg%3E");
                    }
                }

                &::before {
                    bottom: 0;
                    left: -19px;
                    transform: rotate(90deg);
                }
            }

            &:nth-of-type(1) {
                &::before {
                    display: none;
                }
            }
        }
    }

    & .admin-menu-settings {
        display: flex;
        align-items: center;
        margin-left: auto;
        & div {
            margin-right: 15px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }

            & svg {
                & path {
                    /* stroke: red; */
                }
            }
        }
    }
}

.logo {
    padding-left: 24px;
    padding-top: 12px;
    width: 260px;

    & svg path {
        /* fill: red; */
        /* @apply fill-theme-blue; */
    }
}

.sidebar {
    width: 260px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;

    &.static-sidebar {
        /* padding-top: 46px; */
        padding-left: 16px;
    }

    & .static-sidebar-item {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        padding: 14px 17px;
        border-radius: 50px;
        border-end-end-radius: 0;
        /* border-end-top-radius: 0; */
        border-top-right-radius: 0;
        color: black;

        & .icon {
            margin-right: 12px;
        }

        & .icon {
            & path {
                @apply stroke-theme-blue;
            }
        }

        &.active {
            @apply bg-theme-blue;
            color: white;

            & .icon {
                & path {
                    stroke: white;
                }
            }
        }
    }

    & .loader {
        /* margin: auto; */
        &.hidden {
            display: none;
        }
    }

    &.page-list-sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .input {
            @apply border-theme-blue border;
        }

        & .page-list-container {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            & .page-list-item {
                font-size: 20px;
                overflow: hidden;
                text-overflow: ellipsis;

                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 15px;
                }
            }

            & .page-list-empty {
                text-align: center;
                color: orange;
                margin-bottom: 10px;
                align-self: center;
            }
        }

        & .page-list-search {
            width: 90%;
            position: relative;
            margin-bottom: 15px;
            & input.input {
                padding: 8px;
                width: 100%;
                padding-right: 30px;
            }
            & svg {
                cursor: pointer;
                width: 18px;
                height: 18px;
                position: absolute;
                top: calc(50% - 9px);
                right: 10px;
                & path {
                    @apply stroke-theme-blue;
                }
            }
        }

        & .page-list-pagination {
            width: 90%;

            & .pagination-simple {
                display: flex;
                align-items: center;
                justify-content: space-between;

                & svg {
                    width: 42px;
                    height: 42px;
                    cursor: pointer;
                    & path {
                        @apply stroke-theme-blue;
                    }
                }

                & .left.disable, .right.disable {
                    & svg {
                        cursor: not-allowed;
                        & path {
                            stroke: grey;
                        }
                    }
                }

                & .add {
                    & svg {

                        & path, circle {
                            @apply stroke-theme-blue;
                        }
                    }
                }
            }
        }
    }
}

.temporary-window {
    position: absolute;
    z-index: 9999;
    padding: 20px;
    border-radius: 25px;
    background: white;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    width: 50vw;
    border: 1px solid;
    & .temporary-window-remove {
        text-align: end;
        cursor: pointer;
    }
    & table {
        width: 100%;
    }
    & table, th, td {
        border: 1px solid black;
        & td {
            padding: 5px;
        }
    }
}
